<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <% if(typeof querySearch == "undefined"){ %>
    <h1>nothing to search for!</h1>
    <% }else{%>

      <% if(searchResult == true){ %>
        <h1><%= querySearch %></h1>
        <p><%= info %></p>

        <% }else{ %>
<h1>Result not found!</h1>

          <% } %>

      <% } %>

</body>

</html>